@(formType: String, partieForm: Form[Partie], stadien: List[models.Stadion]) 

@import helper._ 

@main(formType + " Partien") {
	<h1>@formType Partie</h1>
	@form(routes.PartieController.storePartie()) {
		<input type="hidden" id="@partieForm("pId").id"
@*		stadion="@partieForm("pId").stadion" *@
		name="@partieForm("pId").name"
		value="@partieForm("pId").value"/>
	@inputText(partieForm("host"))
	@inputText(partieForm("guest"))
	
	@inputDate(partieForm("date"))
	@select(
		partieForm("stadion.sId"),
		stadien.map(s=> s.sId.toString -> s.name)
		)
	</div>
</div>
<input type="submit" value="Save">
	}
}
