@(formType: String, partieForm: Form[Partie], stadions: List[models.Stadion]) 

@import helper._ 

@main(formType + " Partien") {
	<h1>@formType Partie</h1>
	@form(routes.PartieController.storePartie()) {
		<input type="hidden" id="@partieForm("pId").id"
		stadion="@partieForm("pId").stadion" 
		value="@partieForm("pID").value"/>
	@inputText(partieForm("name"))
	<div>
		<div>
			<strong>Stadien</strong>
		</div>
	<div>
	@for(stadion <- stadien) { 
		<label class="dropdown"> 
		<input type="dropdown" name="stadien.pId[]" value="@stadion.sId"
			@if(partieForm.value.isDefined &&
				partieForm.value.get.stadien.contains(stadion)) {			
					checked="checked" 
			}
		/>
		@stadion.guest
		</label> }
	</div>
</div>
@textarea(field = recipeForm("description"), args = 'rows -> 3, 'cols -> 50)
<input type="submit" value="Save">
	} 
}
