@(formType: String, partieForm: Form[Partie], stadien: List[models.Stadion]) 

@import helper._ 

@main(formType + " Partien") {
	<h1>@formType Partie</h1>
	@form(routes.PartieController.storePartie()) {
		<input type="hidden" id="@partieForm("pId").id"
@*		stadion="@partieForm("pId").stadion" *@
		name="@partieForm("pId").name"
		value="@partieForm("pId").value"/>
	@inputText(partieForm("name"))
	<div>
		<div>
			<strong>Stadien</strong>
		</div>
	<div>
	<select>
	@for(stadion <- stadien) { 
	<option>stadion.name</option>
		
		}
		</select>
	</div>
</div>
@textarea(field = partieForm("stadion"), args = 'rows -> 3, 'cols -> 50)
<input type="submit" value="Save">
	}
}
