@(formType: String, stadionForm: Form[Stadion]) 

	@main(formType + " Stadion") {
	
	<h1>@formType Stadion</h1>
	
	@helper.form(action = routes.StadionController.storeStadion()) {
	<input type="hidden" id="@stadionForm("sId").id"
		name="@stadionForm("sId").name"
		value="@stadionForm("sId").value" />
	@helper.inputText(stadionForm("name"))
	@helper.inputText(stadionForm("adresse"))
	@helper.inputText(stadionForm("seats"))
	@helper.inputText(stadionForm("gates"))
	@helper.inputText(stadionForm("sponsor"))
	
	
	<input type="submit" value="Save">
	} 
}