@(title : String)(partien : List[Partie])
@main("Korruptionssimulator"){
	<h1> Korruptionssimulator </h1>
	<h2> Timeline Übersicht </h2>
	
		<a href="@routes.MainController.showStartPage">Zur allgemeinen Übersicht</a>
		<table>
		<tr>
			<td>Host</td>
			<td>Guest</td>
			<td>Stadion</td>
			<td>Date</td>
			<td>Time until</td>
			
		</tr>
		@for(partie <- partien) {
			<tr>
				<td>@partie.host</td>
				<td>@partie.guest</td>
				<td>@partie.stadion.name</td>
				<td>@partie.date</td>
				<td>@partie.getPeriod()</td>

			</tr>
		}
		</table>

}