header{
	background-color: #4C5D41;
	color: white;
	border: 3px solid black;
	
}

nav{
	background-color: #223912;
	color: white;
		border: 3px solid black;

}

footer{
	background-color: #4C5D41;
	color: white;
	border: 3px solid black;

}

aside{
	float: right;
	margin: 10px;
	width: 25%;
	border: 3px solid black;
}
div.mainContent {
	float: left;
	margin: 10px;
	width: 65%;
	border: 3px solid black;

}